<div class="container">
  <h1>Add user</h1>



  <!-- main app container -->

  <form [formGroup]="eduForm" (ngSubmit)='onSubmit(eduForm.value)' ngNativeValidate>

   
    <div [class]="value%3==0?row:'''">{{value}}
    <div *ngFor='let x of formData;index as i'>

        <!-- <div class="clearfix"    *ngIf="i>0 && i%3==0">
         

        </div> -->

        <!-- <span *ngIf="i>0 && i%3==0;let add=false;">
          here is break {{i}}
         
      
        <br />
        </span> -->

      <!-- <span *ngIf="x.ControlType=='textarea'">
          <label>{{x.DisplayName}}</label>
          <textarea id="FirstName" [formControlName]="x.DisplayName" [required]="x.controlledValue"
          oninvalid="this.setCustomValidity('User ID is a must')"
          onchange="this.setCustomValidity('')"
          ></textarea>
        </span> -->

      <div  class="col-sm-4" (ngInit)="value=value+1" *ngIf="x.ControlType=='textbox'">
        
        <label>{{x.DisplayName}}</label>
        <input id="LastName" type='text' [formControlName]="x.DisplayName" [required]="x.controlledValue" />
      </div>


    </div>

</div>
<input type='submit' value='click' />

</form>
</div>